{% extends "base.html" %}
{% load static %}   
{% load livereload_tags %}
{% livereload_script %}
{% block title %}Home{% endblock title %}
{% block cssDoc %}<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">{% endblock cssDoc %}

{% block content %}

<header id="">
    <nav id="navbar">
        <img src="{% static 'imgs/tree.png' %}" id="ico" alt="">
        <div id="brand">PLANTS</div>
        <div id="nav2">
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </div>

        <div id="login">
            <ul>
                <li><a id="signin">Entrar</a></li>
                <li><a  id="signup">Criar Conta</a></li>
            </ul>
        </div>
        <div>
            
        </div>
    </nav>
</header>

<div class="container">
    <div class="box">
        <h1>O que é?</h1>
        <p>PLANTS se trata de um repositório comunitário de plantas. A ideia é que todos que o usem possam colaborar, registrando mais e mais plantas em nossa base de dados. Vale dizer: embora aqui haja um sistema de contribuições, isto se trata apenas de um recurso para controle de informações, não possuindo qualquer siginificado maior.</p>
        <h1>Motivação</h1>
        <p>Esse site foi criado com o intuito primário de atender a finalidades de estudo. Enquanto não tem qualquer grande razão por trás de sua criação, é esperado de todos que o usem a seriedade necessária.</p>
        <h1>Descontinuação</h1>
        <p>De início não temos o intuito de fechar o PLANTS prematuramente. Ainda há, planejadas, atualizações e correções</p>
        <h1>Sobre os conteúdos aqui postados</h1>
        <p>PLANTS é um repositório comunitário e não possui interesses monetários de quaisquer tipos. Não nos responsabilizamos pelas postagens de cada usuário e declaramos que os conteúdos aqui presentes pertencem, cada um, apenas aos seus respectivos donos, de modo que não há, de nossa parte, o intuito de reclamar posse ou a autoria de algo que não é realmente nosso.</p>
    </div>
</div>

<div id="signupModal" style="display: none" class="modal">
    <div class="modal-content">
        <div id="fbutton">
            <div><p id="cad-log"></p></div>
            <button class="close">&times;</button>
        </div>
        <div id="ftext">
            <form action="" method="POST" id='formu'>
                {% csrf_token %}
                <div id="form-items">
                    <div class="f-g">
                        <label for="nome">Nome de usuário:</label>
                        <input type="text" name="username" placeholder="Digite seu nome de usuário" required>
                    </div>
                    <div class="f-g">
                        <label for="senha">Senha:</label>
                        <input type="password" name="password" id='senha' placeholder="Digite a sua senha" required>
                    </div>
                    <div class="f-g" id="confirmar-senha">
                        <label for="senha">Confirmar Senha:</label>
                        <input type="password" name="conf-senha" required id='confir' placeholder="Digite sua senha novamente">
                        <p id="msg" style='color:red;'></p>
                    </div>
                    <div class="f-g-2">
                        <button type="submit" formaction="{% url 'register' %}" id='btncadastro' name="cadastro"  value="Enviar">Enviar</button>
                        <button type="submit" formaction="{% url 'auth' %}" id='btnlogin'>Entrar</button>
                        <button type="reset" value="redefinir">Redefinir</button>
                    </div>
                    <div id='perg'>
                        <p id="pergunta"></p> <a href='#' id='acao'></a>
                    </div>
                </div>
                <input type="hidden" id="url" data-url="{% url 'register' %}" />
            </form>
        </div>
    </div>
</div>

<script src="{% static '/scripts/modalCadastro.js' %}"></script>

{% endblock content %}