@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    max-width: 100%;
    max-height: auto; 
    min-width: 750px;
    min-height: 100vh; 
    background: linear-gradient(to top, #499F78 0%, #7FCC72 40%, white 80%);
}

header {
    background-color: none;
    display: flex;
    min-width: 900px;
}

header #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 100%;
    max-height: 5rem;
    background-color: none;
}

header #navbar #ico{
    height: 5rem;
    width: auto;
    background-color: none;
    filter: drop-shadow(5px 5px 5px #222);
}


header #navbar #nav2 {
    background-color: none;
    height: 100%;
    display: flex;
    align-items: center;
}

header #navbar #nav2 ul{
    margin: 0;
    height: 100%;
    background-color: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap:3rem;
}

header #navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 3rem;
    width: 7rem;
    font-weight: bold;
    border: none;
    border-radius: 0.7rem;
}

header #navbar #nav2 ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 0.7rem;
    border: none;
    color: black;
}

header #navbar #nav2 ul li a:hover{
    background-color: lightgray;
}

header #navbar #account {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
}

header #navbar #account #mac{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 0.7rem;
    height: 3rem;
    width: 6rem;   
}

header #navbar #account #mac a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.7rem;
    background-color: none;
    height: 100%;
    width: 100%;
}

header #navbar #account #mac a:hover{
    background-color: lightgray;
}

header #navbar #account #mp {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 0.7rem;
    height: 3rem;
    width: 6rem;    
}

header #navbar #account #mp a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.7rem;
    background-color: none;
    height: 100%;
    width: 100%;
}

header #navbar #account #mp a:hover{
    background-color: lightgray;
}

header #navbar #account #exit {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 0.7rem;
    height: 3rem;
    width: 6rem;  
}

header #navbar #account #exit a{
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.7rem;
    color: red;
    height: 100%;
    width: 100%;
}

header #navbar #account #exit a:hover {
    color: darkred;
}

header #navbar #account #user{
    height: 100%;
    width: 4rem;
    border-left: 3px #222;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

header #navbar #account #user div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
}


#container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container #box{
    margin-top: 2rem;
    height: 90%;
    width: 90%;
}

#container #box #plantas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container #box #plantas .l {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px dotted #222;
    padding: 10px;
}

#container #box #plantas .l .ltext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container #box .cart {
    width: 19%;
    height: 17rem;
    border-radius: 0.7rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222);
}
#container #box .cart div {
    display: none;
}

#container #box .cart:hover{
    filter: brightness(0.5);
    filter: drop-shadow(10px 10px 10px #222);
}


